<div class="container">
  <div>
      <h2><%= @article.title %></h2>
      <hr>
      <p><%= @article.content %></p>
  </div>
</div>
<%= link_to "back", articles_path %>
<%= link_to "edit", edit_article_path  %>
<%= link_to "delete", article_path(@article), method: :delete, data: { confirm: "Are you sure ?" } %>